@model SportsClubWeb.ViewModels.CourtReservationViewModel

<div class="card card-outline-primary m-1 p-1 text-white @Model.BackGroundColorClass">
    <div class="p-1 text-black-50">
        <h4>
            @Model.CourtName
        </h4>
    </div>
    <div>
        @foreach (var res in Model.Reservations)
        {
        <div class="border border-dark">
            <div>
                <span>From: @res.Start.ToString("t") to @res.End.ToString("t") </span>
            </div>
            <div>
                <span>Reserved by: @res.Owner.FirstName @res.Owner.LastName </span>
            </div>
        </div>
        }
    </div>
</div>