@model IEnumerable<SportsClubWeb.ViewModels.CourtViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyCourtCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyIlluminationCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsIndoor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surface)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyCourtCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyIlluminationCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsIndoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surface)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
